@import url('https://fonts.google.com/specimen/Outfit');

body{
    background-color: #D5E1EF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 800px;
}
.card{
    height: 497px;
    width: 320px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    row-gap: 20px;
    filter: drop-shadow(0 25 25 0);

}
.qr-code{
    grid-row: 1;
    height: 288px;
    width: 288px;
    border-radius: 10px;
    margin-top: 16px;
}

img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.bold-text{
    font-family: 'Outfit';
    text-align: center;
    color: #1F314F;
    font-weight: 700;
    font-size: 22px;
    width: 264px;
}

.normal-text{
    width: 264px;
    text-align: center;
    font-family: 'Outfit';
    color: #7D889E;
    font-size: 15px;
    font-weight: 400;
}

.attribution{
    margin-top: 30px;
}
